asgiref==3.11.1
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
cowsay==6.1
Django==6.0.3
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
idna==3.10
iniconfig==2.0.0
packaging==24.2
pillow==12.1.1
pluggy==1.5.0
portalocker==3.2.0
pyasn1==0.6.3
pycryptodome==3.23.0
pycryptodomex==3.23.0
PyJWT==2.13.0
pytest==8.3.4
python-decouple==3.8
pywin32==311
pyzipper==0.3.6
requests==2.32.3
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.2.3
